<div class="grid grid-cols-10 gap-2 max-w-screen-md w-full">
    <div
        class="grid-item flex items-center justify-center aspect-square text-sm cursor-pointer transition-transform duration-200 ease-in-out rounded-md border border-slate-400"
        *ngFor="let num of numbers"
        (click)="toggleSquare(num)"
        [class.bg-blue-500]="selectedSquares.includes(num)"
        [class.bg-gray-300]="isTaken(num) && !selectedSquares.includes(num)"
        [class.cursor-not-allowed]="isTaken(num)"
        [class.hover:scale-105]="!isTaken(num)"
        [class.hover:shadow-lg]="!isTaken(num)"
    >
        <lucide-icon
            *ngIf="isTaken(num)"
            class="w-8 h-8 text-gray-400"
            name="user-round"
        ></lucide-icon>
        {{ num }}
    </div>
</div>
