@import 'tailwindcss'; /* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Inter, 'Helvetica Neue', sans-serif;
}

.mdc-notched-outline__notch {
    border-style: none;
}

.mat-mdc-icon-button {
    line-height: normal;
}

@theme {
    --color-dark-green: #232607;
    --color-green: #272e0c;
    --color-yellow: #f2be5c;
    --color-tan: #f2e9d8;
    --color-redish: #a65a49;
}

/* Define Custom Theme Colors */
@theme {
    --color-dark-green: #232607;
    --color-green: #272e0c;
    --color-yellow: #f2be5c;
    --color-tan: #f2e9d8;
    --color-redish: #a65a49;
}

/* Make Colors Accessible in Tailwind Utility Classes */
:root {
    --tw-color-dark-green: var(--color-dark-green);
    --tw-color-green: var(--color-green);
    --tw-color-yellow: var(--color-yellow);
    --tw-color-tan: var(--color-tan);
    --tw-color-redish: var(--color-redish);
}

// animation: var(--animate-ping);

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
