@import 'tailwindcss'; /* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdc-notched-outline__notch {
    border-style: none;
}

.mat-mdc-icon-button {
    line-height: normal;
}

/* Color Theme Swatches in Hex */
$Football-Field--1-hex: #232607;
$Football-Field--2-hex: #272e0c;
$Football-Field--3-hex: #f2be5c;
$Football-Field--4-hex: #f2e9d8;
$Football-Field--5-hex: #a65a49;

/* Color Theme Swatches in RGBA */
$Football-Field--1-rgba: rgba(35, 38, 7, 1);
$Football-Field--2-rgba: rgba(38, 45, 11, 1);
$Football-Field--3-rgba: rgba(242, 189, 91, 1);
$Football-Field--4-rgba: rgba(242, 232, 216, 1);
$Football-Field--5-rgba: rgba(165, 89, 73, 1);

/* Color Theme Swatches in HSLA */
$Football-Field--1-hsla: hsla(65, 68, 8, 1);
$Football-Field--2-hsla: hsla(72, 58, 11, 1);
$Football-Field--3-hsla: hsla(39, 85, 65, 1);
$Football-Field--4-hsla: hsla(39, 50, 89, 1);
$Football-Field--5-hsla: hsla(10, 38, 46, 1);
